.title{
  position: relative;
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  color:$secondary-color;
  font-weight: 500;
}
.subtitle{
  padding-top: 20px;
  text-align: center;
  color:$secondary-color;
  font-size: 21px;
  font-weight: 300;
}
