.btn{
  background-color: $btn-color;
  height: 45px;
  width: 160px;
  border-radius: 20px;
 border: none;
  text-transform: uppercase;
  color:$primary-color;
  font-weight: 500;
  font-size: 12px;
  &:hover{
    box-shadow: 3px 3px 20px $btn-color;
      background-color: #DC5238;

  }
  &_main{
    display: block;
    margin: 40px auto 0  ;
    width: 230px;
    height: 60px;
    border-radius: 40px;
  }
  &_submit{
    position: relative;
    width: 180px;
    top: 20px;
  }
  &_application{
    display: block;
    width: 180px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &_footer{
    margin: 0;
    margin-left: 20px;
  }

}
