@media (max-width: 2600px) {
  .container {
    max-width: 2000px;
  }
  .hamburger{
    display: none}
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .main{
    &_list{
      display: none;
    }
    .hamburger{
      display: flex;
    }
    &_question{
      margin-right: 0;
    }
    .btn{
      margin-left: 10px;
      &_main{
        margin: 40px auto 0;
      }
    }
    &_title{
      font-size: 56px;
    }
  }
  .delivery{
    &_wrapper{
      flex-direction: column;
    }
    &_item{
      width: 540px;
    }
  }
  .btn{
    &_menu{
      position: relative;
      font-size: 16px;
      margin: 10px 70px  ;
      background-color:$primary-color;
      color:$btn-color;
      &:hover{
        background-color:$primary-color ;
      }
    }
  }
  .price{
    &_item{
      width: 200px;
      &-descr{
        min-height: 65px;
      max-width: 150px;
    }
    }
    &_btn{
      width: 100px;
      font-size: 12px;
    }
  }
  .feed-form{
    input{
      width: 200px;
    }
  }
  .scheme{
    &_item{
      width: 200px;
    }
    &_descr{
      height: 105px;
    }
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .menu{
    position: absolute;
    max-width: 992px;

  }

  .main{
    &_header{
      padding-bottom: 30px;

    }
    &_overlay{
      display: flex;
      height: 200px;
      align-items: center;
      padding-top: 10px;
    }

    &_items{

      min-height: 200px;
      img{
      height: 50px;
      width: 64px;
    }
    }
    &_descr{
min-height: 100px;
    }
    &_title{
      font-size: 45px;
    }
    &_subtitle{
      font-size: 35px;
    }
    &_elements{
      max-width: 600px;
      hr{
        max-width: 250px;
      }
    }
    .btn{

      &_main{
        margin: 40px auto 0;
      }
    }
  }
  .delivery{
    &_subtitle{
      max-width: 600px;
    }
  }
  .agent, .manage{
    &_descr{
      max-width: 720px;
    }
  }
  .price{
    &_wrapper{
      width: 500px;
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 135px;
    }
    &_item{
     margin-bottom: 40px;
    }
  }
  .feed-form{
    input{
      width: 150px;
    }
  }
  .scheme{
    &_overlay{
      width: 600px;
    }
  }
  .application{
    &_item{
      width: 500px;
    }
  }
  .feeds-form{
    input{
      width: 300px;
      margin-bottom: 10px;
    }
    textarea{
      width: 300px;
      max-width: 300px;
    }
  }
  .footer{
    &_title{
      font-size: 12px;
    }
    &_question{
      a{
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .main{
    text-align: center;
    &_elements{
      width: 100%;
      hr{
        max-width: 250px;
      }
    }
    &_overlay{
      flex-direction: column;
      height: 100%;
    }
    &_items{
      min-height: 100px;
    }
    .btn{

      &_main{
        margin: 20px auto 0;
      }
    }
  }
  .benefits{
    &_items{
      padding: 0;
    }
  }
  .delivery{
    &_subtitle{
      max-width: 500px;
    }
    &_descr{
      max-width: 400px;
    }
  }
  .agent, .manage{
    &_descr{
      max-width: 520px;
    }
  }
  .price{
    &_wrapper{
      width: 520px;
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 35px;
    }

  }
  .consultation{
    &_forms{

      height: 280px;
    }
  }
  .feed-form{

    input{
      width: 300px;
      margin-bottom: 10px;
    }
  }
  .scheme{
    &_descr{
      height: 200px;
    }
    &_overlay{
      width: 500px;
    }
  }
  .carousel{
    display: none;
  }
  .application{
    padding: 30px 20px;
  }
  .footer{
    &_title{
      text-align: center;
    }
    &_question{
      display: none;
    }
  }

}
@media (max-width: 576px) {
  .container {
    width: 400px;
    padding: 0 20px;
  }
  .menu{
    &_question{
      margin-bottom: 10px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
    }
  }
  .main{
    text-align: center;
    &_question, .btn_main1{
      display: none;
    }
    &_elements{
      max-width: 400px;
      hr{
        max-width: 150px;
      }
    }
  }
  .delivery{
    &_subtitle{
      max-width: 400px;
    }
    &_item{
      width: 400px;
    }
    &_descr{
      max-width: 350px;
    }
  }
  .agent, .manage{
    &_descr{
      max-width: 400px;
    }
  }
  .price{
    &_wrapper{
      width: 400px;
      display: flex;
      flex-direction: column;
    }
    &_item{
      width: 300px;
      margin: 10px auto;
    }
  }
  .scheme{
    &_wrapper, &_overlay{
      width: 400px;
      flex-direction: column;
      gap: 10px;
    }
    &_descr{
      height: 60px;
    }
  }
  .application{
    &_item{
      width: 400px;
    }
  }

}
@media (max-width: 480px) {
  .container {
    width: 300px;
    padding: 0 20px;
  }
  .main{
    text-align: center;
    &_elements{
      max-width: 350px;
      hr{
        max-width: 100px;
      }
    }
  }
  .benefits{
    &_wrapper{
      display: flex;
      flex-direction: column;
    }

  }
  .delivery{
    &_subtitle{
      max-width: 300px;
    }
    &_item{
      width: 300px;
      img{
        max-width: 300px;
      }
    }
    &_descr{
      max-width: 300px;
    }
  }
  .agent, .manage{
    min-height: 400px;
    &_descr{
      max-width: 300px;

    }
  }
  .price{
    &_wrapper{
      width: 300px;
      display: flex;
      flex-direction: column;
    }
    &_item{
      width: 250px;
      margin: 10px auto;
    }
  }
  .feed-form, .feeds-form{
    input{
      width: 200px;
      margin-bottom: 10px;
    }
    textarea{
      max-width: 200px;
    }
  }
  .scheme{
    &_wrapper, &_overlay{
      width: 300px;
    }
  }
  .application{
    &_item{
      width: 300px;
    }
  }
}
@media (max-width: 375px) {
  .container {
    width: 250px;
    padding: 0 20px;
  }
  .menu_block{
    width: 300px;
  }
  .main{
    text-align: center;
    .main{
      text-align: center;
      &_elements{
        max-width: 250px;
        hr{
          max-width: 50px;
        }
      }
      &_items{
        width: 200px;
      }
    }
    .btn_main{
      width: 200px;
      margin: 0 auto;
    }
  }
  .delivery{
    &_subtitle{
      max-width: 200px;
    }
    &_item{
      width: 200px;
      img{
        max-width: 200px;
      }
    }
    &_descr{
      max-width: 200px;
    }
  }
  .agent, .manage{
    min-height: 500px;
    &_descr{
      max-width: 200px;

    }
  }
  .price{
    &_wrapper{
      width: 250px;
      display: flex;
      flex-direction: column;
    }
    &_item{
      width: 200px;
      margin: 10px auto;
    }
  }
  .feed-form, .feeds-form{
    input{
      width: 150px;
      margin-bottom: 10px;
    }
    textarea{
      max-width: 150px;
    }
  }
  .scheme{
    &_wrapper, &_overlay, &_item,&_item1{
      width: 200px;
    }
  }
  .application{
    &_item{
      width: 250px;
    }
  }
  .footer{
    &_title{
      display: none;
    }
  }
}
